<!DOCTYPE html>
<html>
<head>
  <title>Absensi</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <link href="/dist/semantic.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/assets/images/absensi.png"/>
  <style>
    .centertext{
      height: 500px;
      line-height: 500px;
      text-align: center;
    }
    .spancenteredtext {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  </style>
</head>
<body style="height: 100%">
<script type="text/javascript" src="/dist/jquery.min.js"></script>
<script type="text/javascript" src="/dist/semantic.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>

<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<meta charset="utf-8">
<meta name="_token" content="{{ csrf_token() }}">
<div class="ui container" style="width: 100% ;height: 100%;padding-left:5%;padding-right: 5% ">
  <div class="ui secondary pointing menu" style="padding: 5px" >

    <div class="left menu">
      <a class="item" href="/">
        Home
      </a>
      <a class="active item">
        Absensi
      </a>
    </div>
    <div class="right menu">
      <a class="item" href="/login">Login</a>
    </div>
  </div>
  <div class="ui secondary pointing menu" style="padding: 5px" >
    <div class="left menu">
      <a class="active item">
        Manual
      </a>
      <a class="item" href="/realtime" >
        Realtime
      </a>
    </div>

  </div>
  <div class="ui container">
    <div id="containermac" name="containermac" class="ui form">
      <label>Device</label>
    </div>
    <br>
    <div  class="ui grid" >
      <div id="searchmanual" class="three wide column ui form" >
        <div class="field">
          <div class="fields">
            <div class="field">
              <label>Pilih Tanggal</label>
              <div class="ui calendar" id="TanggalMulai">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" placeholder="Tanggal">
                </div>
              </div>
            </div>
            <div class="field">
              <label>Waktu Mulai</label>
              <div class="ui calendar" id="rangestart">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" placeholder="Mulai">
                </div>
              </div>
            </div>
            <div class="field">
              <label>Waktu Berakhir</label>
              <div class="ui calendar" id="rangeend">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" placeholder="Akhir">
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="field">
          <a class="ui item">
            <button class="ui primary button" id="submit1" name="submit1">Search</button>
          </a>
        </div>
      </div>
    </div>
    <table class="ui celled padded table" id="TabelJadwal">

    </table>
  </div>

  </div>


<script type="text/javascript">
    $(document).ready(function(){
        let tanggal ;
        let tanggal2 ;
        let jamawal ;
        let jamakhir ;
        let deviceid;
        let deviceidawal;
        $('#TanggalMulai').calendar({
            type: 'date',
            onChange: function (date, text) {
                tanggal = text;
            },
        });
        $('#TanggalSelesai').calendar({
            type: 'date',
            onChange: function (date, text) {
                tanggal2 = text;
            },
        });
        $('#rangestart').calendar({
            type: 'time',
            endCalendar: $('#rangeend'),
            onChange: function (time, text) {
                var time = text;
                var hours = Number(time.match(/^(\d+)/)[1]);
                var minutes = Number(time.match(/:(\d+)/)[1]);
                var AMPM = time.match(/\s(.*)$/)[1];
                if (AMPM == "PM" && hours < 12) hours = hours + 12;
                if (AMPM == "AM" && hours == 12) hours = hours - 12;
                var sHours = hours.toString();
                var sMinutes = minutes.toString();
                if (hours < 10) sHours = "0" + sHours;
                if (minutes < 10) sMinutes = "0" + sMinutes;
                jamawal=sHours+":"+sMinutes+":00 GMT+0700"
            },
        });

        $('#rangeend').calendar({
            type: 'time',
            startCalendar: $('#rangestart'),
            onChange: function (time, text) {
                var time = text;
                var hours = Number(time.match(/^(\d+)/)[1]);
                var minutes = Number(time.match(/:(\d+)/)[1]);
                var AMPM = time.match(/\s(.*)$/)[1];
                if (AMPM == "PM" && hours < 12) hours = hours + 12;
                if (AMPM == "AM" && hours == 12) hours = hours - 12;
                var sHours = hours.toString();
                var sMinutes = minutes.toString();
                if (hours < 10) sHours = "0" + sHours;
                if (minutes < 10) sMinutes = "0" + sMinutes;
                jamakhir=sHours+":"+sMinutes+":00 GMT+0700"
            },
        });
        function loaddropdownmac() {
            let div = document.querySelector("#containermac"),
                frag = document.createDocumentFragment(),
                select = document.createElement("select");
            select.className="ui fluid search dropdown";
            select.setAttribute("id", "selectcontainer");

             $.get('/absensi/list/mac', function(data) {
                let listmac=data.listmac;
                deviceidawal=listmac[0].mac;
                for(i=0 ; i<listmac.length ; i++){
                    select.options.add( new Option(listmac[i].koderuangan,listmac[i].mac) );
                }
                 loaddataawal();
                 frag.appendChild(select);
                 div.appendChild(frag);
                 //div.onchange=onclick_search;
            });

        }
        loaddropdownmac();
        function loaddataawal() {
            $.post('/absensi/list/absen/by/mac',{ MacID: deviceidawal},
                function(data) {
                    console.log(data)
                    LoadTabelJadwal(data.list)
                }
            );
        }
        function LoadTabelJadwal(Data) {
            $("#TabelJadwal tr").remove();
            var table = document.getElementById("TabelJadwal");
            var thead, tr, td;
            table.appendChild(thead = document.createElement("thead"));
            thead.appendChild(tr = document.createElement("tr"));
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "No";
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "Mac Scanner";
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "RFID";
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "Date";
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "Time";
            var count=1;
            if(Data.length>0){

                for (var j=0;j<Data.length;j++){
                    tr = document.createElement("tr");
                    tr.setAttribute("id", "row" + i);
                    if (i%2 == 0)
                    {
                        tr.setAttribute("style", "background:white");
                    }
                    table.appendChild(tr);
                    tr.appendChild(td = document.createElement("td"));
                    td.innerHTML =count;
                    tr.appendChild(td = document.createElement("td"));
                    td.innerHTML =Data[i].mac;
                    tr.appendChild(td = document.createElement("td"));
                    td.innerHTML =Data[i].rf_id;
                    tr.appendChild(td = document.createElement("td"));
                    td.innerHTML =Data[i].tanggal;
                    tr.appendChild(td = document.createElement("td"));
                    td.innerHTML =Data[i].waktu;
                    count++;
                }
            }
        }
        $("#submit1").on("click", onclick_search);

        function onclick_search() {

            var e = document.getElementById("selectcontainer");
            var deviceid = e.options[e.selectedIndex].value;
            if(tanggal==null||jamawal==null||jamakhir==null){
                $.post('/absensi/list/absen/by/mac',{ MacID: deviceidawal},
                    function(data) {
                        LoadTabelJadwal(data.list)
                    }
            );
            }else{
                var starttime=new Date(tanggal+" "+jamawal).toISOString();
                var endtime=new Date(tanggal+" "+jamakhir).toISOString();

                $.post('/absensi/list/absen/by/mac/starttime/endtime',{ MacID: deviceid, StartTime: starttime ,EndTime: endtime},
                    function(data) {
                        LoadTabelJadwal(data.list)

                    }
            );
            }




        }

    });


</script>
</body>
</html>
