<!DOCTYPE html>
<html>
<head>
  <title>Absensi</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <link href="/dist/semantic.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/assets/images/absensi.png"/>
  <style>
    .centertext{
      height: 500px;
      line-height: 500px;
      text-align: center;
    }
    .spancenteredtext {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  </style>
</head>
<body style="height: 100%">
<script type="text/javascript" src="/dist/jquery.min.js"></script>
<script type="text/javascript" src="/dist/semantic.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<meta charset="utf-8">
<meta name="_token" content="{{ csrf_token() }}">
<div class="ui container" style="width: 100% ;height: 100%;padding-left:5%;padding-right: 5% ">
  <div class="ui secondary pointing menu" style="padding: 5px" >

    <div class="left menu">
      <a class=" item" href="/">
        Absensi
      </a>
      <a class="item" href="/authenticated-data-siswa">
        Data Siswa
      </a>
      <a class=" item" href="/authenticated-alat-setting">
        Data Alat
      </a>
    </div>
    <div class="right menu">
      <a class="item" href="/users/logout/action">Logout</a>
    </div>
  </div>
  <div class="ui secondary pointing menu" style="padding: 5px" >
    <div class="left menu">
      <a class="item" href="/">
        Manual
      </a>
      <a class="active item">
        Realtime
      </a>
    </div>

  </div>
  <div class="ui container" style="margin-top: 5%">

    <div  class="ui grid" >

    <table class="ui celled padded table" id="TabelJadwal">

    </table>
  </div>
<div id="messages" name="messages"></div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        let count=1;


        function loaddataawal() {
            $.get('/absensi/today/list',{},
                function(data) {
                console.log(data);
                    LoadTabelJadwal(data.listmac)
                }
            );
        }
        loaddataawal();
        function LoadTabelJadwal(Data) {
            $("#TabelJadwal tr").remove();
            var table = document.getElementById("TabelJadwal");
            var thead, tr, td;
            table.appendChild(thead = document.createElement("thead"));
            thead.appendChild(tr = document.createElement("tr"));
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "No";
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "Scanner";
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "Pengguna";
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "Date";
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML = "Time";
            var count=1;
            if(Data.length>0){

                for (var j=0;j<Data.length;j++){
                    tr = document.createElement("tr");
                    tr.setAttribute("id", "row" + j);
                    if (j%2 == 0)
                    {
                        tr.setAttribute("style", "background:white");
                    }
                    table.appendChild(tr);
                    tr.appendChild(td = document.createElement("td"));
                    td.innerHTML =count;
                    tr.appendChild(td = document.createElement("td"));
                    td.innerHTML =Data[j].macDetail.namaruangan;
                    if(!Data[j].detailUser){
                        tr.appendChild(td = document.createElement("td"));
                        td.innerHTML =Data[j].rf_id;
                    }else {
                        tr.appendChild(td = document.createElement("td"));
                        td.innerHTML =Data[j].detailUser.nama;
                    }
                    tr.appendChild(td = document.createElement("td"));
                    td.innerHTML =Data[j].tanggal;
                    tr.appendChild(td = document.createElement("td"));
                    td.innerHTML =Data[j].waktu;
                    count++;
                }
            }
        }
        function LoadDataFromMassage(Data) {
            var table = document.getElementById("TabelJadwal");
            var tr, td;
            tr = document.createElement("tr");
            table.prepend(tr);
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML =count;
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML =Data.mac;
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML =Data.rf_id;
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML =Data.tanggal;
            tr.appendChild(td = document.createElement("td"));
            td.innerHTML =Data.waktu;
            count++;
        }
        let socket = io( "<%=URL_Service%>" );
        socket.on('absensi', function(msg){
            console.log(msg);
            LoadDataFromMassage(msg);
        });

    });


</script>
</body>
</html>
